{
    margin:0;
padding:0;
}
cabecalho{ 

background-color: rgb(241, 225, 225);
display: flex;
justify-content: space-around;
align-items:  ;
padding: unset;
}
cabecalho-imagem {
    width: 20%;
}
cabecalho-lista-item{
    display inline-block;
    margin 0 16px;
    {}
